.progress-bar {
  width: 100%;
  background: #eaeaea;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.progress-fill {
  height: 8px;
  background: #77b255;
  border-radius: 4px;
  transition: width 200ms ease;
}